.main_block_three{
    position: relative;
    height: max-content;
    min-height: 1100px;
    max-height: 100%;
    width: 100%;
    background: rgba(22, 22, 22, 1);
    box-shadow: -3px 3px 40px 40px rgba(22, 22, 22, 1) inset;
    padding: 100px 0 0 0;
}

.block_three_fon{
    position: absolute;
    top: 0;
    left: 50%;
    max-width: 1920px;
    width: 100%;
    max-height: 100%;
    transform: translate(-50%, 0);
}

.block_three_fon2{
    top: 100px;
    min-height: 100%;
    max-height: 100%;
    width: 100%;
}

.block_three_background_gradient{
    background: url("/img/background_gradient_block_two.png");
    position: absolute;
    background-repeat: no-repeat;
    top: 0;
    left: 0;
    z-index: 2;
    height: 100%;
    max-height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
}

.main_block_three_title{
    position: relative;
    color: #FFFFFF;
    font-weight: 400;
    font-size: calc(15px + 11*(100vw/1200));
    line-height: 51px;
    z-index: 3;
    display: flex;
    justify-content: center;
    text-align: center;
    column-gap: 20px;
    padding: 40px 0 100px 0;
    text-transform: uppercase;
}

.block_three_wrapper{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    justify-content: center;
    align-items: center;
    column-gap: calc(3px + 15*(100vw/1200));
    padding: 85px 0 15px 0;
}

.block_three_cards_wrapper{
    z-index: 4;
    padding: 20px 20px 30px 20px;
    background-color: rgba(20, 20, 20, 0.6) ;
    position: relative;
    display: flex;
    justify-content:center ;
    flex-direction: column;
    opacity: 0.5;

}

.block_three_cards_wrapper:hover{
    opacity: 1;
    transition: 0.4s ease-in;
}

.block_three_image{
    min-height: 200px;
    min-width: 150px;
    width: calc(100px + 100*(100vw/1200));
    height: calc(150px + 100*(100vw/1200));
    margin: 0 auto;
}

.block_three_text_up{
    padding: 30px 0 0 0 ;
    font-size: calc(10px + 5*(100vw/1200));
    font-weight: 400;
    color: #FFFFFF;
    text-wrap: nowrap;
    text-align: left;
}

.block_three_text_down{
    padding: 20px 0 0 0 ;
    font-size: calc(5px + 5*(100vw/1200));
    font-weight: 100;
    color: #FFFFFF;
    text-wrap: nowrap;
    text-align: left;
}

.block_three_button{
    display: flex;
    justify-content: center;
    align-items: flex-end ;
    position: relative;
    z-index: 6;
    padding: 50px 0 0 0 ;
}

.block_three_button_wrapper{
    background-color: rgba(94, 56, 158, 0.35) ;
    min-height: max-content;
    display: flex;

}

.block_three_button_text{
    color: #FFFFFF;
    font-size:calc(8px + 5*(100vw/1200));
    font-weight:400;
    text-wrap: nowrap;
    padding: 20px 80px 20px 30px;
}

.block_three_button_vector{
    display: flex;
    align-items: center;
    gap: 10px;
    color: #FFFFFF;
    font-size:calc(8px + 5*(100vw/1200));
    font-weight:400;
    background-color: rgba(80, 56, 111, 1) ;
    padding: 20px 20px 20px 25px;
}

.block_three_button_mobile{
    display: none;
    justify-content: center;
    align-items: flex-end ;
    z-index: 6;
    padding: 0 0 50px 0;

}

.block_three_button_wrapper_mobile{
    background-color: rgb(138, 97, 191);
    background-size: cover;
    border-radius: 10px;
    padding: 50px 20px;
    height: max-content;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}

.block_three_button_text_mobile{
    color: #FFFFFF;
    font-size:18px;
    font-weight:700;
    text-wrap: balance;
    display: block;


}

.block_three_svg{
    display: flex;
    align-items: center;
    gap: 30px;
}

.block_three_svg_mobile{
    width: 150px;

}

.block_three_button_vector_mobile{
    color: #FFFFFF;
    font-size:20px;
    font-weight:700;
    padding: 15px 50px ;
    text-wrap: nowrap;
    border: 3px solid #FFFFFF;
    border-radius: 5px;
    background: none;
    width: 100%;
}

.block_three_line{
    width: 90%;
    height: 10px;
    border-radius: 5px;
    background: #EF8B54;
    z-index: 4;
    display:none;
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
}

.block_three_cards_wrapper:hover .block_three_line {
    opacity: 1;
    display: block;
}

@media (max-width: 992px) {
    .main_block_three{
        padding: 20px 0 0 0;
        min-height: max-content;
    }

    .main_block_three_title{
        padding: 40px 0 40px 0;
    }

    .block_three_cards_wrapper{
        opacity: 1;
    }

    .block_three_wrapper{
        display: grid;
        grid-template-columns: 400px;
        gap: calc(30px + 10*(100vw/1200));
        padding: 0 20px 70px 20px;
    }

    .block_three_image{
        width: calc(300px + 150*(100vw/1200));
        height: calc(200px + 200*(100vw/1200));
        max-width: 100%;
    }

    .block_three_background_gradient{
        background: url("/img/background_gradient_block_two2.png");
        background-size: cover;
        background-position: center;

    }

    .block_three_text_up{
        top: calc(100px + 10*(100vw/1200));
        font-size: calc(15px + 5*(100vw/1200));
        font-weight: 600;
    }

    .block_three_text_down{
        top: calc(250px + 50*(100vw/1200));
        font-size: calc(10px + 5*(100vw/1200));
        font-weight: 400;
    }

    .block_three_button{
        display: none;
    }

    .block_three_button_mobile{
          display: flex;
    }

    .block_three_cards_wrapper:hover .block_three_line {
        display: none;
    }

}
