.main_block_two{
    position: relative;
    height: max-content;
    min-height: 1100px;
    width: 100%;
    background: rgba(22, 22, 22, 1);
    -webkit-box-shadow: -3px 3px 40px 40px rgba(22, 22, 22, 1) inset;
    -moz-box-shadow: -3px 3px 40px 40px rgba(22, 22, 22, 1) inset;
    box-shadow: -3px 3px 40px 40px rgba(22, 22, 22, 1) inset;
    padding: 100px 0 0 0;
}

.position_relative{
    position: relative;
}

.main_block_two_title{
    position: relative;
    color: #FFFFFF;
    font-weight: 400;
    font-size: calc(15px + 11*(100vw/1200));
    line-height: 32px;
    z-index: 3;
    display: flex;
    justify-content: center;
    text-align: center;
    column-gap: 20px;
    padding: 70px 0 0 0;
}

.container_fon{
    position: absolute;
    top: 0;
    left: 50%;
    max-width: 1920px;
    width: 100%;
    transform: translate(-50%, 0);

}

.container_fon2{
    top: 100px;
    min-height: 100%;
    width: 100%;
}

.block_two_background_gradient{
    background: url("/img/background_gradient_block_two.png");
    position: absolute;
    background-repeat: no-repeat;
    top: 0;
    left: 0;
    z-index: 2;
    height: 100%;
    width: 100%;
    background-size: cover;
}

.block_two_background_border_svg{
    width:calc(200px + 900*(100vw/1200)) ;
    z-index: 3;
}

.block_two_background_border{
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 3;
    transform: translate(-50%, -50%);

}

.block_two_wrapper{
    display: grid;
    grid-template-columns: repeat(3,180px);
    justify-content: center;
    align-items: center;
    row-gap: calc(100px + 30*(100vw/1200)) ;
    column-gap: calc(130px + 50*(100vw/1200)) ;
    padding: calc(70px + 30*(100vw/1200)) calc(30px + 10*(100vw/1200)) calc(100px + 30*(100vw/1200))  calc(70px + 30*(100vw/1200)) ;

}
.block_two_cards_item_wrapper, .block_two_info_one{
    position: relative;
    z-index: 6;
}

.block_two_cards_item_wrapper:hover  .block_two_number {
    color:  #EF8B54;
    opacity: 0.9;
    transition: 0.4s ease-in;
    text-shadow: 5px 6px rgba(239, 139,84, 0.2);
}

.block_two_number{
    position: absolute;
    color:  #FFFFFF;
    opacity: 0.1;
    font-weight: 700;
    letter-spacing: 10px;
    font-size:118px;
    line-height: 144px;
    top: -50%;
    right: -50%;
    z-index: 4;
    transition: 0.4s ease-in;
    text-shadow: 5px 6px rgba(255, 255,255, 0.3);
}

.block_two_cards_item{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 180px;
    height: 180px;
    background: #171718;
    border-radius: 50%;
    position: relative;
    z-index: 5;
    transition: 0.4s ease-in;
    opacity: 1;
}

.block_two_cards_item_wrapper path{
    fill: #EF8B54;
}

.block_two_cards_item_wrapper:hover path{
    fill: #171718;
}

.block_two_cards_item_wrapper svg{
    fill: #171718;
    stroke: #EF8B54;
}

.block_two_cards_item_wrapper:hover svg{
    fill: #FFFFFF;
    stroke:#171718 ;
}

.block_two_cards_item_wrapper:hover .block_two_cards_item {
    width: 180px;
    height: 180px;
    background: #b8b6b6;
    border-radius: 50%;
    transition: 0.4s ease-in;

}

.block_two_cards_item_wrapper:hover .block_two_cards_text {
    text-decoration: underline solid #FFFFFF ;
    transition: 0.4s ease-in;
}

.block_two_cards_text{
    position: absolute;
    text-align: center;
    color: #FFFFFF;
    font-weight: 400;
    font-size:18px;
    line-height: 22px;
    max-width: 100%;
    min-width: 100%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px 0 40px 0;
}

.block_two_cards_after{
    position: relative;
    background-color: #EF8B54;
    margin: 0 0 0 5px;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    max-width: 0;
    overflow: hidden;

}

.block_two_cards_after:after, .block_two_cards_after:before{
    content: " ";
    width: 10px;
    height: 2px;
    background: #FFFFFF;
    position: absolute;
    left: 50%;
    top: 50%;

}

.block_two_cards_after:after{
    transform: rotate(90deg) translate(-10%, -20%);
    left: 3px;

}

.block_two_cards_after:before{
    transform:translate(-50%, -50%);

}

.block_two_cards_item_wrapper:hover .block_two_cards_after {
    min-width: 20px;
    border: 2px #FFFFFF solid;
    transition: 0.2s ease-in;
}


.block_two_cards_text_span:hover{
    display:none;
}

.block_two_cards_item_wrapper:hover .block_two_cards_text_span {
    display: none;
}

.block_two_cards_text_span2{
    display: none;
}

.block_two_cards_item_wrapper:hover .block_two_cards_text_span2 {
    display: inline;
}



.block_two_window_overlay{
    position: fixed;
    top: 0;
    left:0;
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 15;
    backdrop-filter: blur(5px);

}

.block_two_window_overlay--active{
    display: flex;
}

.block_two_window{
    position: relative;
    z-index: 16;
    min-width: 800px;
    min-height: 600px;
    max-width: 50%;
    max-height: max-content;
    border-radius: 20px;
    background-color:rgba(128, 36, 193, 1);
    padding: 15px ;

}

.block_two_window_x{
    position: absolute;
    top: 0 ;
    right: 0;
    z-index: 16;
    transition: 0.2s ease-in;
}


.popuptext{
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    text-align: left;
    padding: 0 19px 0  0;
}

/*Мобилка*/
.block_two_mobile{
    background-color: #FFFFFF;
    height: max-content;
    width: 100%;
    min-width:700px ;
    max-width: 100%;
    top:0;
    left: 0;
    position: relative;
    padding: 0 0 30px 0;
}


.block_two_mobile_flex{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-left:5px dashed #929292;

}

.main_block_two_title_mobile{
    color: #000000;
    font-size: 18px;
    font-weight: 500;
    line-height: 17px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 40px 20px 40px 20px;

}

.block_two_number_mobile{
    font-size: 32px;
    font-weight: 700;
    line-height: 39px;
    letter-spacing: 1px;
    color:#000000 ;
    margin: 0 10px 0 10px ;

}

.accordion_item{
    margin: 0 0 0 15px;
    height: max-content;
    border-bottom: 2px solid #929292;
}

.accordion_title{
    font-size: 12px;
    font-weight: 700;
    line-height: 15px;
    color:#000000 ;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    left: -12px;
    margin: 10px 0 10px 0;
}

.block_two_mobile_cards_after{
    position: absolute;
    top: 8px;
    right: 0;
    display: flex;
    align-items: center;
   border: #000000 solid 1px;
    border-radius: 50%;
    height: 22px;
    width: 22px;
}

.block_two_mobile_cards_after:hover{
    border: #EF8B54 solid 1px;
}

.block_two_mobile_cards_after_vector {
    position: absolute;
    top: 2px;
    right: 0;

}

.block_two_mobile_cards_after_vector--active {
    transform: rotateX(180deg) ;
    top: 0;
    transition: 0.3s ease-in;
}


.block_two_mobile_cards_after_vector path{
    fill: #FFFFFF;
    stroke: black;
}

.block_two_mobile_cards_after_vector--active {
    fill: #FFFFFF;
    stroke: #EF8B54;
}

.block_two_number_mobile_none{
    border-bottom:hidden;
}

.accordion_item:hover .accordion_title {
    color:#EF8B54;
}

.accordion_item:hover .block_two_number_mobile{
    color:#EF8B54;
}

.accordion_item:hover .accordion_content{
    color:#EF8B54;
}

.accordion_item:hover .block_two_mobile_cards_after{
    color:#EF8B54;
}

.accordion_item:hover .block_two_mobile_cards_after_vector{
    color:#EF8B54;
}

.accordion_content{
    font-weight: 500;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.8s ease-out, padding 0.8s ease-out;
    padding: 0;
    margin: 0 0 5px 0;
}

.accordion_content--active{
    max-height: 300px;
    transition: max-height 0.8s ease-out, padding 0.8s ease-out;
}







@media (max-width: 1200px) {
    .block_two_mobile{
        display: none;
    }


}
@media (min-width: 1200px) {
    .block_two_mobile{
        display: none;
    }

}



@media (max-width: 1100px) {
    .block_two_wrapper{
        row-gap: calc(60px + 30*(100vw/1200)) ;
        column-gap: calc(80px + 10*(100vw/1200)) ;
        padding: calc(120px + 30*(100vw/1200)) calc(0px + 10*(100vw/1200)) calc(100px + 30*(100vw/1200))  calc(50px + 50*(100vw/1200)) ;
    }

    .block_two_number{
        font-size:70px;
        top:calc(-50% + 20px ) ;
        right: calc(-50% + 20px ) ;

    }


}
@media (max-width: 992px) {
    .main_block_two{
        display: none;
    }
    .block_two_mobile{
         display: flex;

     }
}

















