.main_block_two{
    position: relative;
    height: max-content;
    min-height: 100%;
    width: 100%;
    background: rgba(22, 22, 22, 1);
    -webkit-box-shadow: -3px 3px 40px 40px rgba(22, 22, 22, 1) inset;
    -moz-box-shadow: -3px 3px 40px 40px rgba(22, 22, 22, 1) inset;
    box-shadow: -3px 3px 40px 40px rgba(22, 22, 22, 1) inset;
}

.main_block_two_title{
    position: relative;
    color: #FFFFFF;
    font-weight: 400;
    font-size: calc(15px + 11*(100vw/1200));
    line-height: 32px;
    z-index: 3;
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 35px 0 0 0;
}

.container_fon{
    position: relative;
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;

}

.block_two_background_gradient{
    background: url("/img/background_gradient_block_two.png");
    position: absolute;
    background-repeat: no-repeat;
    top: 0;
    left: 0;
    z-index: 2;
    height: 100%;
    width: 100%;
    background-size: cover;
}

.block_two_background_border_svg{
    position: relative;
    min-height: 1000px;
    width: 100%;
}

.block_two_background_border{
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 4;
    transform: translate(-50%, -50%);
}
















.block_two_two{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.accordion_content{
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.8s ease-out, padding 0.8s ease-out;
    padding: 0;

}
.accordion_content--active{
    max-height: 300px;
    transition: max-height 0.8s ease-out, padding 0.8s ease-out;
}