.main_block_two{
    position: relative;
    height: max-content;
    min-height: 1100px;
    width: 100%;
    background: rgba(22, 22, 22, 1);
    -webkit-box-shadow: -3px 3px 40px 40px rgba(22, 22, 22, 1) inset;
    -moz-box-shadow: -3px 3px 40px 40px rgba(22, 22, 22, 1) inset;
    box-shadow: -3px 3px 40px 40px rgba(22, 22, 22, 1) inset;
    padding: 100px 0 0 0;
}

.position_relative{
    position: relative;
}

.main_block_two_title{
    position: relative;
    color: #FFFFFF;
    font-weight: 400;
    font-size: calc(15px + 11*(100vw/1200));
    line-height: 32px;
    z-index: 3;
    display: flex;
    justify-content: center;
    text-align: center;
    column-gap: 20px;
    padding: 70px 0 0 0;
}

.container_fon{
    position: absolute;
    top: 0;
    left: 50%;
    max-width: 1920px;
    width: 100%;
    transform: translate(-50%, 0);
}

.container_fon2{
    top: 100px;
    min-height: 100%;
    width: 100%;
}

.block_two_background_gradient{
    background: url("/img/background_gradient_block_two.png");
    position: absolute;
    background-repeat: no-repeat;
    top: 0;
    left: 0;
    z-index: 2;
    height: 100%;
    width: 100%;
    background-size: cover;
}

.block_two_background_border_svg{
    width:calc(200px + 900*(100vw/1200)) ;
    z-index: 3;
}

.block_two_background_border{
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 3;
    transform: translate(-50%, -50%);

}

.block_two_wrapper{
    display: grid;
    grid-template-columns: repeat(3,180px);
    justify-content: center;
    align-items: center;
    row-gap: 200px;
    column-gap: 200px;
    padding: 110px 0 0 150px;

}
.block_two_cards_item_wrapper, .block_two_info_one{
    position: relative;
    z-index: 6;
}



.block_two_cards_item_wrapper:hover  .block_two_number {
    color:  #EF8B54;
    opacity: 0.9;
    transition: 0.4s ease-in;
    text-shadow: 5px 6px rgba(239, 139,84, 0.2);
}

.block_two_number{
    position: absolute;
    color:  #FFFFFF;
    opacity: 0.1;
    font-weight: 700;
    letter-spacing: 10px;
    font-size:118px;
    line-height: 144px;
    top: -50%;
    right: -50%;
    z-index: 4;
    transition: 0.4s ease-in;
    text-shadow: 5px 6px rgba(255, 255,255, 0.3);
}


.block_two_cards_item{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 180px;
    height: 180px;
    background: #171718;
    border-radius: 50%;
    position: relative;
    z-index: 5;
    transition: 0.4s ease-in;
    opacity: 1;
}

.block_two_cards_item_wrapper path{
    fill: #EF8B54;
}

.block_two_cards_item_wrapper:hover path{
    fill: #171718;
}

.block_two_cards_item_wrapper svg{
    fill: #171718;
    stroke: #EF8B54;
}

.block_two_cards_item_wrapper:hover svg{
    fill: #FFFFFF;
    stroke:#171718 ;
}

.block_two_cards_item_wrapper:hover .block_two_cards_item {
    width: 180px;
    height: 180px;
    background: #b8b6b6;
    border-radius: 50%;
    transition: 0.4s ease-in;

}

.block_two_cards_item_wrapper:hover .block_two_cards_text {
    text-decoration: underline solid #FFFFFF ;
    transition: 0.4s ease-in;
}

.block_two_cards_text{
    position: absolute;
    text-align: center;
    margin: 20px 0 0 0;
    color: #FFFFFF;
    font-weight: 400;
    font-size:18px;
    line-height: 22px;
    max-width: 100%;
    min-width: 100%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.block_two_cards_after{
    position: relative;
    background-color: #EF8B54;
    margin: 0 0 0 5px;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    max-width: 0;
    overflow: hidden;

}

.block_two_cards_after:after, .block_two_cards_after:before{
    content: " ";
    width: 10px;
    height: 2px;
    background: #FFFFFF;
    position: absolute;
    left: 50%;
    top: 50%;

}

.block_two_cards_after:after{
    transform: rotate(90deg) translate(-10%, -20%);
    left: 20%;

}

.block_two_cards_after:before{
    transform:translate(-50%, -50%);

}

.block_two_cards_item_wrapper:hover .block_two_cards_after {
    max-width: 30px;
    border: 2px #FFFFFF solid;
    transition: 0.2s ease-in;
}

/*.block_two_cards_text_span{*/

/*}*/

/*.block_two_cards_text_span:hover{*/
/*    display:none;*/
/*}*/

/*.block_two_cards_text_span2{*/
/*    display: none;*/
/*}*/

/*.block_two_cards_text_span2:hover:after .block_two_cards_text {*/
/*    display: block;*/
/*    content: 'Подробнее';*/
/*}*/







/*Мобилка*/
.block_two_two{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.accordion_content{
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.8s ease-out, padding 0.8s ease-out;
    padding: 0;

}
.accordion_content--active{
    max-height: 300px;
    transition: max-height 0.8s ease-out, padding 0.8s ease-out;
}