*{
    padding: 0;
    margin: 0;
    border:0;
    font-family: 'montserrat',sans-serif;
}
*,*:before,*:after{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display:block;}

html,body{
    min-height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    ms-text-size-adjust: 100%;
    moz-text-size-adjust: 100%;
    webkit-text-size-adjust: 100%;
    overflow-x:hidden;
}
input,textarea,select{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor:pointer;}
button::-moz-focus-inner{border:0;padding: 0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight:400;}

@font-face {
    font-family: 'montserrat';
    src: url(/fonts/montserrat-black.ttf) format("ttf");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'roboto';
    src: url(/fonts/roboto-black.ttf) format("ttf");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
:root{
    --font-family-base: 'montserrat',sans-serif;
}
body{
    width: 100%;
    height: 100%;
    padding: 80px 0  0 0 ;

}
a{
    color: #FFFFFF;
}


.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px 0 20px ;
}
.header{
    position: fixed;
    width: 100%;
    height: 80px;
    top: 0;
    left: 0;
    z-index: 50;
    padding: 0 10px ;
    background: #202020;
}

.header_wrapper{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    column-gap: 15px;
}
.header_logo{
    height:40px ;
    font-size: 14px;
    color: #FFFFFF;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 2px;
    display: flex;
    align-items: center;
    column-gap: 10px;
    text-wrap: nowrap;

}
.header_logo_link{
    padding: 15px 0 15px 0;
}

.header_action{
    display: flex;
    column-gap: 10px;
    align-items: center;
    height: 100%;
}
.header_btn{
    color: #FF834E;
    font-size: 16px;
    line-height: 21px;
    font-weight: 300;
    border: 1px solid #FF834E;
    width: 166px;
    height: 47px;
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 10px 21px;
    background-color:#202020;
    text-wrap: nowrap;
}
.header_btn:hover{
   box-shadow: 0 0 3px 3px  #FF834E;
    transition: 0.2s;
}

.header_btn_number{
    color: #FFFFFF;
    font-weight: 300;
    font-size: 18px;
    line-height: 23px;
    text-wrap: nowrap;
    padding: 15px 0 15px 15px;
}
.header_btn_number:hover{
    color: #FF834E;
    transition: 0.2s;
}

.header_menu_list{
    display: flex;
    column-gap: 30px;
    text-wrap: nowrap;
}
.header_menu_link{
    height:40px ;
    font-size: 14px;
    font-weight:600;
    line-height:17px;
    text-wrap: nowrap;
    padding: 15px 0 15px 0;
}
.header_menu_link:hover{
    color: #FF834E;
    transition: 0.2s;
}
.background_wrapper{


    min-height: 100%;
    width: 100%;
}
.main_block_one_relative{
    position: relative;
    height: max-content;
    min-height: 700px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}
.background_black{
    background:#161616;
    position: absolute;
    z-index: 1;
    height: 100%;
    width: 100%;
    background-size: cover;

}

.background_gradient {
    background: url("/img/background_gradient.png");
    position: absolute;
    background-repeat: no-repeat;
    top: 0;
    left: 0;
    z-index: 3;
    height: 100%;
    width: 100%;
    background-size: cover;
    opacity: 0.9;
}

.background_code{
    background: url("/img/background_code.png");
    position: absolute;
    background-repeat: no-repeat;
    bottom: 20px;
    left: -2.45px;
    z-index: 2;
    min-height: 350px;
    width: 50%;
    background-size: cover;
    opacity: 0.5;
    border-top-right-radius: 450px 300px;
}

.main_block_one_img-wrapper{
    position: relative;

}
.background_phone_gradient{
    position: absolute;
    background: linear-gradient(180deg, rgba(167, 47, 114, 0.7) 0%, rgba(255, 106, 106, 0) 100%);
    width: 450px;
    height: 450px;
    z-index: 5;
    border-radius: 50%;
    display: none;

}
.background_phone{
    position: absolute;
    width: calc(175px + 300*(100vw/1200));
    height: calc(150px + 500*(100vw/1200));
    max-width: 500px;
    max-height: 700px;
    z-index: 6;
    right: 0;

}
.background_e{
    position: absolute;
    width: calc(175px + 300*(100vw/1200));
    height: calc(152px + 500*(100vw/1200));
    max-width: 500px;
    max-height: 700px;
    z-index: 5;
    right: 0;
    opacity: 3%;
}


.main_block_one{
    position: relative;
    padding: 90px 0 60px 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: minmax(175px, 500px);


}

.main_text_one{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    position: relative;
    z-index: 6;
}

.main_text_one_svg {
    color: #FF834E;
    font-weight: 700;
    font-size: calc(12px + 11*(100vw/1200));
    line-height: 28px;
    display: flex;
    column-gap: 10px;
}
.main_svg_block_one{
    width: calc(11px + 8*(100vw/1200));

}
.main_svg_wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 10px;

}

.main_text_title{
    color: #FFFFFF;
    font-weight: 700;
    font-size: calc(20px + 32*(100vw/1200));
    line-height: 70px;

}

.main_text_there{
    color: #FFFFFF;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    margin: 30px 0 0 0;
}
.main_block_one_btn{
    position: relative;
    z-index: 7;
    margin: auto 0  0 0 ;

}
.main_block_one_button_uptext{
    color: #FFFFFF;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;

}
.main_block_one_button{
    color: #FFFFFF;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    display: inline-flex;
    align-items: center;
    gap: 15px;
    border: 1px solid #FF834E;
    background-color: #FF834E;
    flex-wrap: nowrap;
    margin: 15px 0 0 0;
}

.main_block_one_button_text{
    color: #FFFFFF;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    padding: 10px 60px 10px 20px;

}

.main_block_one_button_svg{
    border: 1px solid #FF834E;
    padding: 22px ;
    background: #DE774B;
}







@media (max-width: 1200px) {
    .container{
        max-width: 970px;
    }

}
@media (min-width: 1200px) {
    .main_text_one_svg{
        font-size: 22px;
    }
    .main_text_title{
        font-size: 52px;
    }

}
@media (max-width: 992px) {
    .container{
        max-width: 750px;
    }
    .main_block_one{
        grid-template-rows: auto  minmax(175px, 500px) auto;
        grid-template-columns: 1fr;
        justify-items: center;


    }
    .background_phone{
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
    .background_e{
        display: none;
    }
    .main_text_there{
        display: none;
    }
    .background_phone_gradient{
        position: absolute;
        display: block;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
    .main_block_one_button{
        display: flex;
        width: 100%;
        justify-content: space-between;
    }
    .main_block_one_btn{
        display: flex;
        flex-direction: column-reverse;
        gap: 15px;
        width: 100%;
        justify-content: center;
        text-align: center;
    }
    .main_block_one_button_uptext{
        opacity: 50%;
    }
    .main_block_one{
        padding: 30px 0 30px 0;
    }
}
@media (max-width: 767px) {
    .container{
        max-width: none;
    }
}
 /*svg{*/
 /*    fill: ;*/
 /*}*/










